/*IDS*/
#map { 
	height: 75%;
}          

#latclicked, #longclicked, #latmoved, #longmoved {
	display: none;
}

#card {
    background-color: white;
}

#submit-form {
	display: none;
}

/*CLASSES*/
.photo {
    height: auto;
    width: 100%;
}