/*Body Stuff*/
body {
    font-family: 'Poppins', sans-serif !important;
    background: #eaf2ec !important;
}

input {
    border: 2px dotted black;
    border-radius: 10%;
}

input, button:focus {
    outline:0;
}

#map { 
	height: 75%;
}  

#outer-div {
     padding-top: 5%;
     border-top: 5px dotted #333;

}

#latclicked, #longclicked, #latmoved, #longmoved {
    display: none;
}     

/*Navbar Stuff*/

ul {
    margin-top: 0 !important;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 3em;
    border-bottom: 5px dotted #99e5ca;
    margin-bottom: 0 !important;
}

ul li {
    float: right;
    height: auto;
    color: #99e5ca;
    font-weight: bold;
    padding: 0.5em;
}

ul li:hover {
    color: #eaf2ec;
}

